---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import Pagination from '../../components/Pagination.astro';
import { getPaginatedPosts } from '../../utils/posts';

export async function getStaticPaths() {
  const { totalPages } = await getPaginatedPosts(1);

  return Array.from({ length: totalPages - 1 }, (_, i) => {
    const page = i + 2; // Start from page 2 since page 1 is index
    return {
      params: { page: page.toString() },
      props: { page },
    };
  });
}

const { page } = Astro.props;
const { posts, totalPages, currentPage } = await getPaginatedPosts(parseInt(page));
const pageTitle = `Posts - Page ${currentPage}`;
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold mb-12 border-b pb-4">{pageTitle}</h1>
  {posts.map((post) => (
    <BlogPost
      url={post.url}
      title={post.frontmatter.title}
      description={post.frontmatter.description}
    />
  ))}
  <Pagination currentPage={currentPage} totalPages={totalPages} />
</BaseLayout>
