---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import Pagination from '../../components/Pagination.astro';
import { getPaginatedPosts } from '../../utils/posts';

export async function getStaticPaths({ paginate }) {
  const allPosts = await getPaginatedPosts(1);
  return [
    { params: { page: 1 }, props: allPosts },
    ...Array.from({ length: allPosts.totalPages - 1 }, (_, i) => ({
      params: { page: i + 2 },
      props: getPaginatedPosts(i + 2),
    })),
  ];
}

const { posts: currentPosts, totalPages, currentPage } = Astro.props;
const pageTitle = `Posts - Page ${currentPage}`;
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold mb-12 border-b pb-4">{pageTitle}</h1>
  {currentPosts.map((post) => (
    <BlogPost
      url={post.url}
      title={post.frontmatter.title}
      description={post.frontmatter.description}
      pubDate={post.frontmatter.pubDate}
    />
  ))}
  <Pagination currentPage={currentPage} totalPages={totalPages} />
</BaseLayout>
